@-webkit-keyframes sectionPulse {
    0% {
        -webkit-filter: brightness(1);
    }
    
    50% {
        -webkit-filter: brightness(5.0);
    }
    
    100% {
        -webkit-filter: brightness(1);
    }
}