body .content section.header.designs.intension{
  background-image: url("lines/1-intension.png");
}
body .content section.header.designs.lustre{
  background-image: url("lines/2-lustre.png");
}
body .content section.header.designs.wealthoftheslums{
  background-image: url("lines/3-wealthoftheslums.png");
}
body .content section.header.designs.exoskeleton{
  background-image: url("lines/4-exoskeleton.png");
}
body .content section.header.designs.cakery{
  background-image: url("lines/5-cakery.png");
}
body .content section.header.designs.letsplay{
  background-image: url("lines/6-letsplay.png");
}
body .content section.header.designs.uncover{
  background-image: url("lines/7-uncover.png");
}
body .content section.header.designs.mashinka{
  background-image: url("lines/8-mashinka.png");
}
body .content section.header.designs.bound{
  background-image: url("lines/9-bound.png");
}
body .content section.header.designs.masquerade{
  background-image: url("lines/10-masquerade.png");
}
body .content section.header.designs.dressedtokill{
  background-image: url("lines/11-dressedtokill.png");
}
body .content section.header.designs.till{
  background-image: url("lines/12-till.png");
}
body .content section.header.designs.morph{
  background-image: url("lines/13-morph.png");
}
body .content section.header.designs.revive{
  background-image: url("lines/14-revive.png");
}
body .content section.header.designs.totsiens{
  background-image: url("lines/15-totsiens.png");
}
body .content section.header.designs.cleen{
  background-image: url("lines/16-cleen.png");
}
body .content section.header.designs.tact{
  background-image: url("lines/17-tact.png");
}
body .content section.header.designs.beora{
  background-image: url("lines/18-beora.png");
}
body .content section.header.designs.sinew{
  background-image: url("lines/19sinew.png");
}
body .content section.header.designs.menagerie{
  background-image: url("lines/20-menagerie.png");
}
body .content section.header.designs.rift{
  background-image: url("lines/21-rift.png");
}
