/* Variables to make this math super flexible */

$sections: 19;              // The number of scrolling sections
$headers: 9;                // The number of always-visible headers
$header-height: 4%;         // How tall a collapsed header should be
$scroll-ratio: 3;           // How many full screen heights to scroll to advance a single slide
$active-height: 50%;        // How tall the active section should be
$second-class-height: 18%;

// Don't touch these

$remainder: 100% - $active-height - $second-class-height*2;
$splinters: ($sections - 3);
$splinter-height: $remainder / $splinters;


    

body {
    height: $sections * $scroll-ratio * 10vh;            /* To allow scrolling */
    display: none;                                        /* Hide until loaded */

    /*************************
    
     * Scroll control code
    
     *************************/
    
    .content { 
        position: fixed;
        width: 100%;
        top: 0;
        height: 100vh;
        // border: 10px solid red;
        // box-sizing: border-box;
    
        /*************************
    
         * General section layout
    
         *************************/
    
         section {
            height: $splinter-height;
            overflow: hidden;
            box-sizing: border-box;
            position: relative;
            width: 100%;
            text-align: justify;
            text-transform: lowercase;
            
            @include transform(translate3d(0, 0, 0)); /* force hardware acceleration */
            @include backface-visibility(hidden); /* other hacky speed-up tricks */
            @include perspective(1000);
    

            &.header {
                // min-height: $header-height;

                // &.active { height: $header-height + $active-height; }
                // &.second-class { height: $header-height + $second-class-height; }
            }
            /*************************
    
            * Specific section layout
    
            *************************/
    
            &.intro {
                .inside {
                    color: black;
                }
            }
    
            &.video {
                .video-cover {
                    background-image: url('graphics/video.png');
                    @include background-size(100% 100%);
                    position: absolute;
                    top: 0;
                    bottom: 0; 
                    left: 0; 
                    right: 0;
                }
    
                iframe {
                    display: none;
                }
            }
    
            /*************************
    
            * Section sizing
    
            *************************/    
    
            &.active {
                height: $active-height;
    
                .inside {
                    @include transform(scale3d(1.0, 1.0, 1.0));         /* 75 / 75 */
                }
            }   
    
            &.second-class {
                height: $second-class-height;
    
                .inside {
                    @include transform(scale3d(1.0, 0.06, 1.0));        /* 4.5 / 75 */
                }
            }
    
    
            /*************************
    
             * Edge case layouts
             * (only one first-child, etc.)
    
             *************************/
    
            &:first-child.active,
            &:nth-last-child(1).active {
                height: $active-height + $second-class-height;
            }
    
            .inside {
                -webkit-transform-origin: 0 0; /* Keep text aligned properly */
                        transform-origin: 0 0;
                -webkit-transition: -webkit-transform $transitionDuration $transitionCurve;
                        transition: transform $transitionDuration -webkit-transform $transitionDuration $transitionCurve;
                // @include transition(transform $transitionDuration -webkit-transform $transitionDuration);
                @include transform(scaleY(0.001824561)); /* .136742195 / 75 */
            }
        }
    }
}