@import "compass/reset";
@import "compass/css3";

html {
    text-rendering:optimizeLegibility;
    
    ::selection {
        background: white; /* WebKit/Blink Browsers */
        color: black;
    }
    
    ::-moz-selection {
        background: white; /* Gecko Browsers */
                color: black;
    }
}