/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'ArialLol';
  src: url("type/ArialLol/compressed-arial-mono.eot");
  src: url("type/ArialLol/compressed-arial-mono.eot?#iefix") format("embedded-opentype"), url("type/ArialLol/compressed-arial-mono.woff") format("woff"), url("type/ArialLol/compressed-arial-mono.ttf") format("truetype"), url("type/ArialLol/compressed-arial-mono.svg#compressed-arial-mono") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-201D;
}
@font-face {
  font-family: 'arialLawlSmallBody';
  src: url("type/arialLawl/ariallol1-webfont.eot");
  src: url("type/arialLawl/ariallol1-webfont.eot?#iefix") format("embedded-opentype"), url("type/arialLawl/ariallol1-webfont.woff2") format("woff2"), url("type/arialLawl/ariallol1-webfont.woff") format("woff"), url("type/arialLawl/ariallol1-webfont.ttf") format("truetype"), url("type/arialLawl/ariallol1-webfont.svg#ariallol1regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'arialLawlHeader';
  src: url("type/arialLawl/arial-lawl-header--webfont.eot");
  src: url("type/arialLawl/arial-lawl-header--webfont.eot?#iefix") format("embedded-opentype"), url("type/arialLawl/arial-lawl-header--webfont.woff2") format("woff2"), url("type/arialLawl/arial-lawl-header--webfont.woff") format("woff"), url("type/arialLawl/arial-lawl-header--webfont.ttf") format("truetype"), url("type/arialLawl/arial-lawl-header--webfont.svg#arial_lawl_header_regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'arialLawlLargeBody';
  src: url("type/arialLawl/arial-lawl-large-type-webfont.eot");
  src: url("type/arialLawl/arial-lawl-large-type-webfont.eot?#iefix") format("embedded-opentype"), url("type/arialLawl/arial-lawl-large-type-webfont.woff2") format("woff2"), url("type/arialLawl/arial-lawl-large-type-webfont.woff") format("woff"), url("type/arialLawl/arial-lawl-large-type-webfont.ttf") format("truetype"), url("type/arialLawl/arial-lawl-large-type-webfont.svg#arial_lawl_large_typeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'arialLawlSubheader';
  src: url("type/arialLawl/arial-lawl-subhead-webfont.eot");
  src: url("type/arialLawl/arial-lawl-subhead-webfont.eot?#iefix") format("embedded-opentype"), url("type/arialLawl/arial-lawl-subhead-webfont.woff2") format("woff2"), url("type/arialLawl/arial-lawl-subhead-webfont.woff") format("woff"), url("type/arialLawl/arial-lawl-subhead-webfont.ttf") format("truetype"), url("type/arialLawl/arial-lawl-subhead-webfont.svg#arial_lawl_subheadregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 85, ../sass/_type.scss */
body {
  color: black;
  font-family: arialLawlSmallBody;
  font-size: 18pt;
  letter-spacing: .0625em;
}
/* line 89, ../sass/_type.scss */
body h1 {
  font-family: arialLawlLargeBody;
  font-size: 18pt;
}
/* line 106, ../sass/_type.scss */
body .content section.header .inside {
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
}
/* line 109, ../sass/_type.scss */
body .content section.header .inside h1 {
  font-size: 75vh;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}
/* line 117, ../sass/_type.scss */
body .content section.human {
  color: white;
}
/* line 120, ../sass/_type.scss */
body .content section.human h1 {
  font-family: arialLawlHeader;
  font-size: 72pt;
  letter-spacing: .0625em;
}
/* line 124, ../sass/_type.scss */
body .content section.human h2, body .content section.human p {
  font-family: arialLawlLargeBody;
  font-size: 18pt;
  display: block;
}

@-webkit-keyframes sectionPulse {
  0% {
    -webkit-filter: brightness(1.5);
  }
  50% {
    -webkit-filter: brightness(1.7);
  }
  100% {
    -webkit-filter: brightness(1.5);
  }
}
/* Variables to make this math super flexible */
/* line 19, ../sass/_scrolling.scss */
body {
  height: 570vh;
  /* To allow scrolling */
  display: none;
  /* Hide until loaded */
  /*************************
  
   * Scroll control code
  
   *************************/
}
/* line 29, ../sass/_scrolling.scss */
body .content {
  position: fixed;
  width: 100%;
  top: 0;
  height: 100vh;
    /*************************

     * General section layout

     *************************/
}
/* line 43, ../sass/_scrolling.scss */
body .content section {
  height: 1.875%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  text-align: justify;
  text-transform: lowercase;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* force hardware acceleration */
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* other hacky speed-up tricks */
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
        /*************************

        * Specific section layout

        *************************/
        /*************************

        * Section sizing

        *************************/
        /*************************

         * Edge case layouts
         * (only one first-child, etc.)

         *************************/
}
/* line 70, ../sass/_scrolling.scss */
body .content section.intro .inside {
  color: black;
}
/* line 76, ../sass/_scrolling.scss */
body .content section.video .video-cover {
  background-image: url("graphics/video.png");
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 86, ../sass/_scrolling.scss */
body .content section.video iframe {
  display: none;
}
/* line 97, ../sass/_scrolling.scss */
body .content section.active {
  height: 60%;
}
/* line 100, ../sass/_scrolling.scss */
body .content section.active .inside {
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  /* 75 / 75 */
}
/* line 105, ../sass/_scrolling.scss */
body .content section.second-class {
  height: 5%;
}
/* line 108, ../sass/_scrolling.scss */
body .content section.second-class .inside {
  -moz-transform: scale3d(1, 0.06, 1);
  -ms-transform: scale3d(1, 0.06, 1);
  -webkit-transform: scale3d(1, 0.06, 1);
  transform: scale3d(1, 0.06, 1);
  /* 4.5 / 75 */
}
/* line 121, ../sass/_scrolling.scss */
body .content section:first-child.active, body .content section:nth-last-child(1).active {
  height: 65%;
}
/* line 126, ../sass/_scrolling.scss */
body .content section .inside {
  -webkit-transform-origin: 0 0;
  /* Keep text aligned properly */
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1s -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transform: scaleY(0.00182);
  -ms-transform: scaleY(0.00182);
  -webkit-transform: scaleY(0.00182);
  transform: scaleY(0.00182);
  /* .136742195 / 75 */
}

/* line 1, ../sass/_static.scss */
body.teaser.static {
  height: auto !important;
}
/* line 4, ../sass/_static.scss */
body.teaser.static .content {
  position: relative !important;
}
/* line 7, ../sass/_static.scss */
body.teaser.static .content section {
  height: 4em;
}
/* line 10, ../sass/_static.scss */
body.teaser.static .content section.header {
  height: 4em;
}
/* line 13, ../sass/_static.scss */
body.teaser.static .content section.header.vestige {
  height: 20em;
}
/* line 17, ../sass/_static.scss */
body.teaser.static .content section.header.tagline {
  height: .5em;
  display: none;
}
/* line 22, ../sass/_static.scss */
body.teaser.static .content section.header.tickets {
  height: 8em;
}
/* line 26, ../sass/_static.scss */
body.teaser.static .content section.header.logistics {
  height: 12em;
}
/* line 30, ../sass/_static.scss */
body.teaser.static .content section.header.aboutText {
  height: 12em;
}
/* line 34, ../sass/_static.scss */
body.teaser.static .content section.header.sponsors {
  height: 8em;
}
/* line 39, ../sass/_static.scss */
body.teaser.static .content section.video {
  height: 12em;
}
/* line 43, ../sass/_static.scss */
body.teaser.static .content section.divider {
  height: 2em;
  -moz-background-size: 150% 150%;
  -o-background-size: 150% 150%;
  -webkit-background-size: 150% 150%;
  background-size: 150% 150%;
  background-position: 25% 25%;
}
/* line 48, ../sass/_static.scss */
body.teaser.static .content section.divider:nth-child(4n+1) {
  height: 1em;
}
/* line 52, ../sass/_static.scss */
body.teaser.static .content section.divider:nth-child(odd) {
  height: 2em;
}
/* line 56, ../sass/_static.scss */
body.teaser.static .content section.divider:nth-child(3n+2) {
  height: 3em;
}
/* line 59, ../sass/_static.scss */
body.teaser.static .content section.divider:nth-child(4n+2) {
  height: 5em;
}
/* line 63, ../sass/_static.scss */
body.teaser.static .content section.divider video {
  display: none;
}

/* line 8, ../sass/_humans.scss */
.adeleyeIbukunFayo {
  background-image: url(../images/adeleyeIbukunFayo.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 13, ../sass/_humans.scss */
.adetolaLanre {
  background-image: url(../images/adetolaLanre.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 18, ../sass/_humans.scss */
.ahmedSam {
  background-image: url(../images/ahmedSam.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 23, ../sass/_humans.scss */
.ajithArchana {
  background-image: url(../images/ajithArchana.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 28, ../sass/_humans.scss */
.aliyuZai {
  background-image: url(../images/aliyuZai.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 33, ../sass/_humans.scss */
.anandSwathi {
  background-image: url(../images/anandSwathi.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 38, ../sass/_humans.scss */
.aniJibby {
  background-image: url(../images/aniJibby.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 43, ../sass/_humans.scss */
.auyeungAllison {
  background-image: url(../images/auyeungAllison.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 48, ../sass/_humans.scss */
.baileyJordan {
  background-image: url(../images/baileyJordan.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 53, ../sass/_humans.scss */
.behlRemy {
  background-image: url(../images/behlRemy.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 58, ../sass/_humans.scss */
.bergeronZach {
  background-image: url(../images/bergeronZach.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 63, ../sass/_humans.scss */
.boruKeerthi {
  background-image: url(../images/boruKeerthi.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 68, ../sass/_humans.scss */
.bouraiAbdelwahab {
  background-image: url(../images/bouraiAbdelwahab.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 73, ../sass/_humans.scss */
.brahmBella {
  background-image: url(../images/brahmBella.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 78, ../sass/_humans.scss */
.buchwaldMiriam {
  background-image: url(../images/buchwaldMiriam.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 83, ../sass/_humans.scss */
.buttRehan {
  background-image: url(../images/buttRehan.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 88, ../sass/_humans.scss */
.chambersDelaney {
  background-image: url(../images/chambersDelaney.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 93, ../sass/_humans.scss */
.changSabrina {
  background-image: url(../images/changSabrina.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 98, ../sass/_humans.scss */
.chenAmy {
  background-image: url(../images/chenAmy.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 103, ../sass/_humans.scss */
.chenAngeline {
  background-image: url(../images/chenAngeline.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 108, ../sass/_humans.scss */
.chenYutong {
  background-image: url(../images/chenYutong.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 113, ../sass/_humans.scss */
.chiuSamantha {
  background-image: url(../images/chiuSamantha.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 118, ../sass/_humans.scss */
.choMichelle {
  background-image: url(../images/choMichelle.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 123, ../sass/_humans.scss */
.chouMolly {
  background-image: url(../images/chouMolly.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 128, ../sass/_humans.scss */
.chukwumaJess {
  background-image: url(../images/chukwumaJess.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 133, ../sass/_humans.scss */
.ciavarellaRachel {
  background-image: url(../images/ciavarellaRachel.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 138, ../sass/_humans.scss */
.cliffordColleen {
  background-image: url(../images/cliffordColleen.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 143, ../sass/_humans.scss */
.criglerAmelia {
  background-image: url(../images/criglerAmelia.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 148, ../sass/_humans.scss */
.delarosaAlexis {
  background-image: url(../images/delarosaAlexis.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 153, ../sass/_humans.scss */
.deleonLynzky {
  background-image: url(../images/deleonLynzky.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 158, ../sass/_humans.scss */
.demlerAya {
  background-image: url(../images/demlerAya.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 163, ../sass/_humans.scss */
.edmondsIsaiah {
  background-image: url(../images/edmondsIsaiah.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 169, ../sass/_humans.scss */
.essexChristopher {
  background-image: url(../images/essexChristopher.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 174, ../sass/_humans.scss */
.felbingerBrenan {
  background-image: url(../images/felbingerBrenan.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 179, ../sass/_humans.scss */
.fieldsSaraRemi {
  background-image: url(../images/fieldsSaraRemi.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 184, ../sass/_humans.scss */
.frazerKatherine {
  background-image: url(../images/frazerKatherine.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 189, ../sass/_humans.scss */
.fritzMorgan {
  background-image: url(../images/fritzMorgan.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 194, ../sass/_humans.scss */
.gardnerDavid {
  background-image: url(../images/gardnerDavid.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 199, ../sass/_humans.scss */
.gershunyAndrea {
  background-image: url(../images/gershunyAndrea.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 204, ../sass/_humans.scss */
.goldsteinLauren {
  background-image: url(../images/goldsteinLauren.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 209, ../sass/_humans.scss */
.hackerEmmy {
  background-image: url(../images/hackerEmmy.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 214, ../sass/_humans.scss */
.hamiltonAlyssa {
  background-image: url(../images/hamiltonAlyssa.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 219, ../sass/_humans.scss */
.heXuran {
  background-image: url(../images/heXuran.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 224, ../sass/_humans.scss */
.hoKendra {
  background-image: url(../images/hoKendra.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 229, ../sass/_humans.scss */
.huangEileen {
  background-image: url(../images/huangEileen.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 234, ../sass/_humans.scss */
.huangGina {
  background-image: url(../images/huangGina.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 239, ../sass/_humans.scss */
.hwangJi {
  background-image: url(../images/hwangJi.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 244, ../sass/_humans.scss */
.ideraSade {
  background-image: url(../images/ideraSade.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 249, ../sass/_humans.scss */
.iottAlicia {
  background-image: url(../images/iottAlicia.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 254, ../sass/_humans.scss */
.jeffsAJ {
  background-image: url(../images/jeffsAJ.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 259, ../sass/_humans.scss */
.jonesWesley {
  background-image: url(../images/jonesWesley.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 264, ../sass/_humans.scss */
.josephKeith {
  background-image: url(../images/josephKeith.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 269, ../sass/_humans.scss */
.kangSnow {
  background-image: url(../images/kangSnow.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 274, ../sass/_humans.scss */
.kellyKeith {
  background-image: url(../images/kellyKeith.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 279, ../sass/_humans.scss */
.kimDaniel {
  background-image: url(../images/kimDaniel.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 284, ../sass/_humans.scss */
.kimHannah {
  background-image: url(../images/kimHannah.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 289, ../sass/_humans.scss */
.kimJay {
  background-image: url(../images/kimJay.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 294, ../sass/_humans.scss */
.kimJohn {
  background-image: url(../images/kimJohn.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 299, ../sass/_humans.scss */
.kodiNeha {
  background-image: url(../images/kodiNeha.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 304, ../sass/_humans.scss */
.kongLiana {
  background-image: url(../images/kongLiana.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 309, ../sass/_humans.scss */
.liangAngela {
  background-image: url(../images/liangAngela.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 314, ../sass/_humans.scss */
.liArissa {
  background-image: url(../images/liArissa.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 319, ../sass/_humans.scss */
.linJarret {
  background-image: url(../images/linJarret.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 324, ../sass/_humans.scss */
.liuBecki {
  background-image: url(../images/liuBecki.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 329, ../sass/_humans.scss */
.merskiOshie {
  background-image: url(../images/merskiOshie.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 334, ../sass/_humans.scss */
.michelLaurel {
  background-image: url(../images/michelLaurel.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 339, ../sass/_humans.scss */
.millermanAnna {
  background-image: url(../images/millermanAnna.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 344, ../sass/_humans.scss */
.moiseStephane {
  background-image: url(../images/moiseStephane.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 349, ../sass/_humans.scss */
.nelsonJillian {
  background-image: url(../images/nelsonJillian.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 354, ../sass/_humans.scss */
.onoAntonio {
  background-image: url(../images/onoAntonio.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 359, ../sass/_humans.scss */
.paparisDanae {
  background-image: url(../images/paparisDanae.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 364, ../sass/_humans.scss */
.parrinelloSophie {
  background-image: url(../images/parrinelloSophie.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 369, ../sass/_humans.scss */
.patelChanda {
  background-image: url(../images/patelChanda.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 374, ../sass/_humans.scss */
.quadriFeyi {
  background-image: url(../images/quadriFeyi.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 379, ../sass/_humans.scss */
.ragazzoKira {
  background-image: url(../images/ragazzoKira.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 384, ../sass/_humans.scss */
.ratanalertChanamon {
  background-image: url(../images/ratanalertChanamon.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 389, ../sass/_humans.scss */
.rayShalini {
  background-image: url(../images/rayShalini.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 394, ../sass/_humans.scss */
.sandforthJolyn {
  background-image: url(../images/sandforthJolyn.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 399, ../sass/_humans.scss */
.shcloverNika {
  background-image: url(../images/shcloverNika.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 404, ../sass/_humans.scss */
.shenCecilia {
  background-image: url(../images/shenCecilia.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 409, ../sass/_humans.scss */
.shenJessica {
  background-image: url(../images/shenJessica.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 414, ../sass/_humans.scss */
.singhShana {
  background-image: url(../images/singhShana.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 419, ../sass/_humans.scss */
.songVictor {
  background-image: url(../images/songVictor.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 424, ../sass/_humans.scss */
.sunSteven {
  background-image: url(../images/sunSteven.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 429, ../sass/_humans.scss */
.tamayoCarolina {
  background-image: url(../images/tamayoCarolina.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 434, ../sass/_humans.scss */
.taylorAmaya {
  background-image: url(../images/taylorAmaya.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 439, ../sass/_humans.scss */
.thomasLeila {
  background-image: url(../images/thomasLeila.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 444, ../sass/_humans.scss */
.townsendCharlotte {
  background-image: url(../images/townsendCharlotte.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 449, ../sass/_humans.scss */
.uphoffJessica {
  background-image: url(../images/uphoffJessica.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 454, ../sass/_humans.scss */
.walkerAlex {
  background-image: url(../images/walkerAlex.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 459, ../sass/_humans.scss */
.wangJason {
  background-image: url(../images/wangJason.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 464, ../sass/_humans.scss */
.winthrowJenna {
  background-image: url(../images/winthrowJenna.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 469, ../sass/_humans.scss */
.wolffNoa {
  background-image: url(../images/wolffNoa.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 474, ../sass/_humans.scss */
.wooSohee {
  background-image: url(../images/wooSohee.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 479, ../sass/_humans.scss */
.yeAlice {
  background-image: url(../images/yeAlice.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 484, ../sass/_humans.scss */
.yerlanDina {
  background-image: url(../images/yerlanDina.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 489, ../sass/_humans.scss */
.yoonJane {
  background-image: url(../images/yoonJane.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 494, ../sass/_humans.scss */
.zemeringLauren {
  background-image: url(../images/zemeringLauren.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 499, ../sass/_humans.scss */
.zhaoKatherine {
  background-image: url(../images/zhaoKatherine.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 504, ../sass/_humans.scss */
.zhengCatherine {
  background-image: url(../images/zhengCatherine.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 12, ../sass/screen.scss */
body {
  text-rendering: optimizeLegibility;
  -webkit-touch-callout: none;
}
/* line 16, ../sass/screen.scss */
body ::selection {
  background: #ff00ff;
}
/* line 22, ../sass/screen.scss */
body .content section {
  cursor: pointer;
  -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 26, ../sass/screen.scss */
body .content section.active {
  cursor: default;
}
/* line 30, ../sass/screen.scss */
body .content section.header {
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
/* line 35, ../sass/screen.scss */
body .content section.header.title {
  background-image: url("graphics/vestige.png");
}
/* line 39, ../sass/screen.scss */
body .content section.header.logistics {
  background-image: url("graphics/logistics.png");
}
/* line 43, ../sass/screen.scss */
body .content section.header.tickets {
  background-image: url("graphics/tickets.png");
}
/* line 46, ../sass/screen.scss */
body .content section.header.tickets:hover {
  opacity: .75;
}
/* line 52, ../sass/screen.scss */
body .content section.header.tickets.active a, body .content section.header.tickets.second-class a {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 63, ../sass/screen.scss */
body .content section.header.people {
  background-image: url("graphics/people.png");
}
/* line 67, ../sass/screen.scss */
body .content section.header.about {
  background-image: url("graphics/about.png");
}
/* line 71, ../sass/screen.scss */
body .content section.header.aboutText {
  background-image: url("graphics/aboutText.png");
}
/* line 75, ../sass/screen.scss */
body .content section.header.tagline {
  background-image: url("graphics/tagline.png");
}
/* line 79, ../sass/screen.scss */
body .content section.header.sponsorsHeader {
  background-image: url("graphics/sponsors.png");
}
/* line 83, ../sass/screen.scss */
body .content section.header.sponsors {
  background-image: url("graphics/sponsors/allSponsors.jpg");
}
/* line 87, ../sass/screen.scss */
body .content section.header.logo {
  background-image: url("graphics/lg.png");
}
/* line 91, ../sass/screen.scss */
body .content section.header .inside {
  text-indent: -99999em;
}
/* line 96, ../sass/screen.scss */
body .content section.divider {
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
/* line 99, ../sass/screen.scss */
body .content section.divider video {
  width: 100%;
  height: 100%;
  -moz-transform: scale3d(200, 1, 1);
  -ms-transform: scale3d(200, 1, 1);
  -webkit-transform: scale3d(200, 1, 1);
  transform: scale3d(200, 1, 1);
  -moz-transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
  -o-transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
  -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
  -moz-transition-property: -moz-transform, -webkit-transform, -moz-transform;
  -o-transition-property: -o-transform, -webkit-transform, -moz-transform;
  -webkit-transition-property: -webkit-transform, -webkit-transform, -moz-transform;
  transition-property: transform, -webkit-transform, -moz-transform;
}
@media screen and (max-aspect-ratio: 16 / 9) {
  /* line 99, ../sass/screen.scss */
  body .content section.divider video {
    width: auto;
    height: 100%;
  }
}
@media screen and (max-width: 48em) {
  /* line 99, ../sass/screen.scss */
  body .content section.divider video {
    display: none;
  }
}
/* line 118, ../sass/screen.scss */
body .content section.divider.active video {
  -moz-transform: scale3d(8, 1, 1);
  -ms-transform: scale3d(8, 1, 1);
  -webkit-transform: scale3d(8, 1, 1);
  transform: scale3d(8, 1, 1);
}
@media screen and (max-aspect-ratio: 16 / 9) {
  /* line 118, ../sass/screen.scss */
  body .content section.divider.active video {
    -moz-transform: scale3d(4, 1, 1);
    -ms-transform: scale3d(4, 1, 1);
    -webkit-transform: scale3d(4, 1, 1);
    transform: scale3d(4, 1, 1);
  }
}
/* line 128, ../sass/screen.scss */
body .content section.divider.second-class video {
  -moz-transform: scale3d(20, 1, 1);
  -ms-transform: scale3d(20, 1, 1);
  -webkit-transform: scale3d(20, 1, 1);
  transform: scale3d(20, 1, 1);
}
/* line 134, ../sass/screen.scss */
body .content section.divider.third-class video {
  -moz-transform: scale3d(48, 1, 1);
  -ms-transform: scale3d(48, 1, 1);
  -webkit-transform: scale3d(48, 1, 1);
  transform: scale3d(48, 1, 1);
}
