

.logo {
  background-image: url(../lg-logo-03.png);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}

/* line 2, ../sass/humans.scss */
.human.human01 {
  background-image: url(../headshots/adeleyeIbukunFayo.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 10, ../sass/humans.scss */
.human.human02 {
  background-image: url(../headshots/adetolaLanre.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 18, ../sass/humans.scss */
.human.human03 {
  background-image: url(../headshots/ahmedSam.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 26, ../sass/humans.scss */
.human.human04 {
  background-image: url(../headshots/ajithArchana.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 34, ../sass/humans.scss */
.human.human05 {
  background-image: url(../headshots/aliyuZai.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 42, ../sass/humans.scss */
.human.human06 {
  background-image: url(../headshots/anandSwathi.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 50, ../sass/humans.scss */
.human.human07 {
  background-image: url(../headshots/aniJibby.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 58, ../sass/humans.scss */
.human.human08 {
  background-image: url(../headshots/auyeungAllison.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 66, ../sass/humans.scss */
.human.human09 {
  background-image: url(../headshots/baileyJordan.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 74, ../sass/humans.scss */
.human.human10 {
  background-image: url(../headshots/bergeronZach.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 82, ../sass/humans.scss */
.human.human11 {
  background-image: url(../headshots/boruKeerthi.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 90, ../sass/humans.scss */
.human.human12 {
  background-image: url(../headshots/bouraiAbdelwahab.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 98, ../sass/humans.scss */
.human.human13 {
  background-image: url(../headshots/brahmBella.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 106, ../sass/humans.scss */
.human.human14 {
  background-image: url(../headshots/buchwaldMiriam.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 114, ../sass/humans.scss */
.human.human15 {
  background-image: url(../headshots/chambersDelaney.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 122, ../sass/humans.scss */
.human.human16 {
  background-image: url(../headshots/changSabrina.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 130, ../sass/humans.scss */
.human.human17 {
  background-image: url(../headshots/chenAmy.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 138, ../sass/humans.scss */
.human.human18 {
  background-image: url(../headshots/chenYutong.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 146, ../sass/humans.scss */
.human.human19 {
  background-image: url(../headshots/choMichelle.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 154, ../sass/humans.scss */
.human.human20 {
  background-image: url(../headshots/chouMolly.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 162, ../sass/humans.scss */
.human.human21 {
  background-image: url(../headshots/chukwumaJess.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 170, ../sass/humans.scss */
.human.human22 {
  background-image: url(../headshots/ciavarellaRachel.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 178, ../sass/humans.scss */
.human.human23 {
  background-image: url(../headshots/cliffordColleen.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 186, ../sass/humans.scss */
.human.human24 {
  background-image: url(../headshots/criglerAmelia.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 194, ../sass/humans.scss */
.human.human25 {
  background-image: url(../headshots/delarosaAlexis.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 202, ../sass/humans.scss */
.human.human26 {
  background-image: url(../headshots/deleonLynzky.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 210, ../sass/humans.scss */
.human.human27 {
  background-image: url(../headshots/demlerAya.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 218, ../sass/humans.scss */
.human.human28 {
  background-image: url(../headshots/edmondsIsaiah.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 227, ../sass/humans.scss */
.human.human29 {
  background-image: url(../headshots/essexChristopher.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 235, ../sass/humans.scss */
.human.human30 {
  background-image: url(../headshots/felbingerBrenan.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 243, ../sass/humans.scss */
.human.human31 {
  background-image: url(../headshots/fieldsSaraRemi.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 251, ../sass/humans.scss */
.human.human32 {
  background-image: url(../headshots/frazierKatherine.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 259, ../sass/humans.scss */
.human.human33 {
  background-image: url(../headshots/gardnerDavid.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 267, ../sass/humans.scss */
.human.human34 {
  background-image: url(../headshots/goldsteinLauren.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 275, ../sass/humans.scss */
.human.human35 {
  background-image: url(../headshots/hackerEmmy.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 283, ../sass/humans.scss */
.human.human36 {
  background-image: url(../headshots/heXuran.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 291, ../sass/humans.scss */
.human.human37 {
  background-image: url(../headshots/hoKendra.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 299, ../sass/humans.scss */
.human.human38 {
  background-image: url(../headshots/huangEileen.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 307, ../sass/humans.scss */
.human.human39 {
  background-image: url(../headshots/huangGina.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 315, ../sass/humans.scss */
.human.human40 {
  background-image: url(../headshots/hwangJi.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 323, ../sass/humans.scss */
.human.human41 {
  background-image: url(../headshots/ideraSade.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 331, ../sass/humans.scss */
.human.human42 {
  background-image: url(../headshots/jeffsAJ.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 339, ../sass/humans.scss */
.human.human43 {
  background-image: url(../headshots/jonesWesley.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 347, ../sass/humans.scss */
.human.human44 {
  background-image: url(../headshots/josephKeith.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 355, ../sass/humans.scss */
.human.human45 {
  background-image: url(../headshots/kellyKeith.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 363, ../sass/humans.scss */
.human.human46 {
  background-image: url(../headshots/kimHannah.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 371, ../sass/humans.scss */
.human.human47 {
  background-image: url(../headshots/kimJay.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 379, ../sass/humans.scss */
.human.human48 {
  background-image: url(../headshots/kimJohn.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 387, ../sass/humans.scss */
.human.human49 {
  background-image: url(../headshots/kodiNeha.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 395, ../sass/humans.scss */
.human.human50 {
  background-image: url(../headshots/kongLiana.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 403, ../sass/humans.scss */
.human.human51 {
  background-image: url(../headshots/liangAngela.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 411, ../sass/humans.scss */
.human.human52 {
  background-image: url(../headshots/liArissa.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 419, ../sass/humans.scss */
.human.human53 {
  background-image: url(../headshots/linJarret.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 427, ../sass/humans.scss */
.human.human54 {
  background-image: url(../headshots/liuBecki.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 435, ../sass/humans.scss */
.human.human55 {
  background-image: url(../headshots/merskiOshie.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 443, ../sass/humans.scss */
.human.human56 {
  background-image: url(../headshots/michelLaurel.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 451, ../sass/humans.scss */
.human.human57 {
  background-image: url(../headshots/moiseStephane.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 459, ../sass/humans.scss */
.human.human58 {
  background-image: url(../headshots/nelsonJillian.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 467, ../sass/humans.scss */
.human.human59 {
  background-image: url(../headshots/onoAntonio.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 475, ../sass/humans.scss */
.human.human60 {
  background-image: url(../headshots/paparisDanae.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 483, ../sass/humans.scss */
.human.human61 {
  background-image: url(../headshots/patelChanda.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 491, ../sass/humans.scss */
.human.human62 {
  background-image: url(../headshots/ragazzoKira.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 499, ../sass/humans.scss */
.human.human63 {
  background-image: url(../headshots/ratanalertChanamon.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 507, ../sass/humans.scss */
.human.human64 {
  background-image: url(../headshots/shcloverNika.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 515, ../sass/humans.scss */
.human.human65 {
  background-image: url(../headshots/shenCecilia.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 523, ../sass/humans.scss */
.human.human66 {
  background-image: url(../headshots/shenJessica.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 531, ../sass/humans.scss */
.human.human67 {
  background-image: url(../headshots/singhShana.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 539, ../sass/humans.scss */
.human.human68 {
  background-image: url(../headshots/sunSteven.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 547, ../sass/humans.scss */
.human.human69 {
  background-image: url(../headshots/taylorAmaya.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 555, ../sass/humans.scss */
.human.human70 {
  background-image: url(../headshots/thomasLeila.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 563, ../sass/humans.scss */
.human.human71 {
  background-image: url(../headshots/townsendCharlotte.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 571, ../sass/humans.scss */
.human.human72 {
  background-image: url(../headshots/uphoffJessica.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 579, ../sass/humans.scss */
.human.human73 {
  background-image: url(../headshots/walkerAlex.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 587, ../sass/humans.scss */
.human.human74 {
  background-image: url(../headshots/wangJason.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 595, ../sass/humans.scss */
.human.human75 {
  background-image: url(../headshots/winthrowJenna.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 603, ../sass/humans.scss */
.human.human76 {
  background-image: url(../headshots/wolffNoa.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 611, ../sass/humans.scss */
.human.human77 {
  background-image: url(../headshots/wooSohee.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 619, ../sass/humans.scss */
.human.human78 {
  background-image: url(../headshots/yeAlice.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 627, ../sass/humans.scss */
.human.human79 {
  background-image: url(../headshots/yerlanDina.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 635, ../sass/humans.scss */
.human.human80 {
  background-image: url(../headshots/yoonJane.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 643, ../sass/humans.scss */
.human.human81 {
  background-image: url(../headshots/zemeringLauren.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
/* line 651, ../sass/humans.scss */
.human.human82 {
  background-image: url(../headshots/zhengCatherine.jpg);
  -webkit-background-size: 100% 100%;
  /* For WebKit*/
  -moz-background-size: 100% 100%;
  /* Mozilla*/
  -o-background-size: 100% 100%;
  /* Opera*/
  background-size: 100% 100%;
}
