html {
    
    body {
        background-color:   black;
        text-align: right;        
        header {
            position: fixed;
            padding-top: $leading;
            @include smallCaps;
            margin-left: $gutter;
            
            @media screen and (min-width: 48em) {
                position: absolute;
                top: $topMargin;
            }

            
            h1 {
                
                a {
                    border: none;
                }
            }
        }
        
        section.dates {
            text-align: right;
            float: right;
            
            @media screen and (min-width: 48em) {
                width: 100%;
                margin-top: $topMargin;
            }

            ul {
                text-align: left;
                margin-right: $gutter;
                vertical-align: top;
                
                @media screen and (min-width: 48em) {
                    display:        inline-block;
                }
            
                li {
                    margin-top: $leading/2;
                    
                    h1 {
                        @include    smallCaps;
                        margin-top: $leading;
                    }
                } 
            }
        }
    }
}