
@font-face {
  font-family: 'DINPro-Bold';
  src: url('../sass/_globals/fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../sass/_globals/fonts/DINPro-Bold.otf')  format('opentype'),
	     url('../sass/_globals/fonts/DINPro-Bold.woff') format('woff'), url('../sass/_globals/fonts/DINPro-Bold.ttf')  format('truetype'), url('../sass/_globals/fonts/DINPro-Bold.svg#DINPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'DINPro-Regular';
  src: url('../sass/_globals/fonts/DINPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../sass/_globals/fonts/DINPro-Regular.otf')  format('opentype'),
	     url('../sass/_globals/fonts/DINPro-Regular.woff') format('woff'), url('../sass/_globals/fonts/DINPro-Regular.ttf')  format('truetype'), url('../sass/_globals/fonts/DINPro-Regular.svg#DINPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'DINPro-Medium';
  src: url('../sass/_globals/fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),  url('../sass/_globals/fonts/DINPro-Medium.otf')  format('opentype'),
	     url('../sass/_globals/fonts/DINPro-Medium.woff') format('woff'), url('../sass/_globals/fonts/DINPro-Medium.ttf')  format('truetype'), url('../sass/_globals/fonts/DINPro-Medium.svg#DINPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
