@import "compass/reset";
@import "compass/css3";
@import "_globals.scss";
@import "_type.scss";
@import "_scrolling.scss";
@import "_humans.scss";

body {
    text-rendering:         optimizeLegibility;
    -webkit-touch-callout:  none;
    
    ::selection {
        background: #ff00ff;
    }
    
    .content {
        
        section {
            cursor: pointer;
            @include transition(all          $transitionDuration $transitionCurve);
            
            &.human {
            
                &.active {
                    -webkit-filter: none;
                    
                    &:hover, &:active {
                        -webkit-filter: none;
                    }
                }
                
                &:hover {
                    -webkit-filter: brightness(1.5);
                    
                    &:active {
                        -webkit-filter: brightness(3);
                    }
                }                
            }
        }
    }
}