/*************************

 * Typogra[ju]

 *************************/

@font-face {
    font-family: 'ArialLol';
    src: url('type/ArialLol/compressed-arial-mono.eot');
    src: url('type/ArialLol/compressed-arial-mono.eot?#iefix') format('embedded-opentype'),
         url('type/ArialLol/compressed-arial-mono.woff') format('woff'),
         url('type/ArialLol/compressed-arial-mono.ttf') format('truetype'),
         url('type/ArialLol/compressed-arial-mono.svg#compressed-arial-mono') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-201D;
}

body {
    font-size: 3em;
    font-family: 'ArialLol';
    color: white; 
    display: none;              /* Hide until loaded */
    height: 5000vh;             /* To allow scrolling */
}

body ::-moz-selection { background: #ff00ff; }
body ::selection { background: #ff00ff; }

/*************************

 * Scroll control code

 *************************/

.content { 
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
}


/*************************

 * General section layout

 *************************/

 section {
    height: .136842105%; /* 13% / 95 sections */
    overflow: hidden;
    box-sizing: border-box;
    transition: height 0.3s;
    position: relative;
    width: 100%;
    text-align: justify;
    text-transform: lowercase;

    -webkit-background-size: 100% 100%; 
       -moz-background-size: 100% 100%;    
         -o-background-size: 100% 100%;      
            background-size: 100% 100%;

    -webkit-transform: translate3d(0, 0, 0);   /* force hardware acceleration */
            transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;       /* other hacky speed-up tricks */
            backface-visibility: hidden;
    -webkit-perspective: 1000;
            perspective: 1000;
}

section .inside {
    -webkit-transform-origin: 0 0; /* Keep text aligned properly */
            transform-origin: 0 0;

    -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s -webkit-transform 0.3s;
            
    -webkit-transform: scaleY(0.001824561); /* .136742195 / 75 */
            transform: scaleY(0.001824561);
}

section .inside h1,
section .inside h2 {
    display: inline;
}

section.active {
    height: 75%;
}   

section.second-class {
    height: 4.5%;
}

section.third-class { 
    height: 1.5%;
}

section.active .inside {
    -webkit-transform: scaleY(1.0);         /* 75 / 75 */
            transform: scaleY(1.0);
}

section.second-class .inside {
    -webkit-transform: scaleY(0.06);        /* 4.5 / 75 */
            transform: scaleY(0.06);
}

section.third-class .inside {
    -webkit-transform: scaleY(0.02);        /* 1.5 / 75 */
            transform: scaleY(0.02);
}


/*************************

 * Specific section layout

 *************************/

/* Intro */
section.intro .inside {
    color: black;
}

/* Video Cover */
section.video .video-cover {
    background-image: url(../images/video-bg.jpg);
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
    position: absolute;
    top: 0;
    bottom: 0; 
    left: 0; 
    right: 0;
}

/* Video */
section.video iframe {
    display: none;
}

/*************************

 * Edge case layouts
 * (only one first-child, etc.)

 *************************/

.content section:first-child.active {
    height: 81%; /* 75 + 4.5 + 1.5 */
}

.content section:first-child.second-class {
    height: 6%; /* 4.5 + 1.5 */  
}

section:nth-last-child(2).active {
    height: 76.5%;
}

section:nth-last-child(1).active {
    height: 81%;
}
