.human {
    &.adeleyeIbukunFayo {
      background-image: url(../headshots/adeleyeIbukunFayo.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }

    &.adetolaLanre {
      background-image: url(../headshots/adetolaLanre.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.ahmedSam {
      background-image: url(../headshots/ahmedSam.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.ajithArchana {
      background-image: url(../headshots/ajithArchana.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.aliyuZai {
      background-image: url(../headshots/aliyuZai.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.anandSwathi {
      background-image: url(../headshots/anandSwathi.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.aniJibby {
      background-image: url(../headshots/aniJibby.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.auyeungAllison {
      background-image: url(../headshots/auyeungAllison.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.baileyJordan {
      background-image: url(../headshots/baileyJordan.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.bergeronZach {
      background-image: url(../headshots/bergeronZach.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.boruKeerthi {
      background-image: url(../headshots/boruKeerthi.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.bouraiAbdelwahab {
      background-image: url(../headshots/bouraiAbdelwahab.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.brahmBella {
      background-image: url(../headshots/brahmBella.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.buchwaldMiriam {
      background-image: url(../headshots/buchwaldMiriam.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.chambersDelaney {
      background-image: url(../headshots/chambersDelaney.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.changSabrina {
      background-image: url(../headshots/changSabrina.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.chenAmy {
      background-image: url(../headshots/chenAmy.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.chenYutong {
      background-image: url(../headshots/chenYutong.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.choMichelle {
      background-image: url(../headshots/choMichelle.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.chouMolly {
      background-image: url(../headshots/chouMolly.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.chukwumaJess {
      background-image: url(../headshots/chukwumaJess.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.ciavarellaRachel {
      background-image: url(../headshots/ciavarellaRachel.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.cliffordColleen {
      background-image: url(../headshots/cliffordColleen.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.criglerAmelia {
      background-image: url(../headshots/criglerAmelia.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.delarosaAlexis {
      background-image: url(../headshots/delarosaAlexis.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.deleonLynzky {
      background-image: url(../headshots/deleonLynzky.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.demlerAya {
      background-image: url(../headshots/demlerAya.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.edmondsIsaiah {
      background-image: url(../headshots/edmondsIsaiah.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    
    &.essexChristopher {
      background-image: url(../headshots/essexChristopher.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.felbingerBrenan {
      background-image: url(../headshots/felbingerBrenan.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.fieldsSaraRemi {
      background-image: url(../headshots/fieldsSaraRemi.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.frazerKatherine {
      background-image: url(../headshots/frazerKatherine.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.gardnerDavid {
      background-image: url(../headshots/gardnerDavid.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.goldsteinLauren {
      background-image: url(../headshots/goldsteinLauren.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.hackerEmmy {
      background-image: url(../headshots/hackerEmmy.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.heXuran {
      background-image: url(../headshots/heXuran.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.hoKendra {
      background-image: url(../headshots/hoKendra.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.huangEileen {
      background-image: url(../headshots/huangEileen.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.huangGina {
      background-image: url(../headshots/huangGina.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.hwangJi {
      background-image: url(../headshots/hwangJi.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.ideraSade {
      background-image: url(../headshots/ideraSade.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.jeffsAJ {
      background-image: url(../headshots/jeffsAJ.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.jonesWesley {
      background-image: url(../headshots/jonesWesley.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.josephKeith {
      background-image: url(../headshots/josephKeith.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.kellyKeith {
      background-image: url(../headshots/kellyKeith.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.kimHannah {
      background-image: url(../headshots/kimHannah.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.kimJay {
      background-image: url(../headshots/kimJay.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.kimJohn {
      background-image: url(../headshots/kimJohn.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.kodiNeha {
      background-image: url(../headshots/kodiNeha.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.kongLiana {
      background-image: url(../headshots/kongLiana.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.liangAngela {
      background-image: url(../headshots/liangAngela.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.liArissa {
      background-image: url(../headshots/liArissa.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.linJarret {
      background-image: url(../headshots/linJarret.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.liuBecki {
      background-image: url(../headshots/liuBecki.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.merskiOshie {
      background-image: url(../headshots/merskiOshie.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.michelLaurel {
      background-image: url(../headshots/michelLaurel.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.moiseStephane {
      background-image: url(../headshots/moiseStephane.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.nelsonJillian {
      background-image: url(../headshots/nelsonJillian.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.onoAntonio {
      background-image: url(../headshots/onoAntonio.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.paparisDanae {
      background-image: url(../headshots/paparisDanae.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.patelChanda {
      background-image: url(../headshots/patelChanda.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.ragazzoKira {
      background-image: url(../headshots/ragazzoKira.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.ratanalertChanamon {
      background-image: url(../headshots/ratanalertChanamon.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.shcloverNika {
      background-image: url(../headshots/shcloverNika.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.shenCecilia {
      background-image: url(../headshots/shenCecilia.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.shenJessica {
      background-image: url(../headshots/shenJessica.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.singhShana {
      background-image: url(../headshots/singhShana.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.sunSteven {
      background-image: url(../headshots/sunSteven.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.taylorAmaya {
      background-image: url(../headshots/taylorAmaya.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.thomasLeila {
      background-image: url(../headshots/thomasLeila.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.townsendCharlotte {
      background-image: url(../headshots/townsendCharlotte.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.uphoffJessica {
      background-image: url(../headshots/uphoffJessica.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.walkerAlex {
      background-image: url(../headshots/walkerAlex.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.wangJason {
      background-image: url(../headshots/wangJason.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.winthrowJenna {
      background-image: url(../headshots/winthrowJenna.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.wolffNoa {
      background-image: url(../headshots/wolffNoa.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.wooSohee {
      background-image: url(../headshots/wooSohee.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.yeAlice {
      background-image: url(../headshots/yeAlice.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.yerlanDina {
      background-image: url(../headshots/yerlanDina.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.yoonJane {
      background-image: url(../headshots/yoonJane.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.zemeringLauren {
      background-image: url(../headshots/zemeringLauren.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
    
    &.zhengCatherine {
      background-image: url(../headshots/zhengCatherine.jpg);
      -webkit-background-size: 100% 100%; /* For WebKit*/
      -moz-background-size: 100% 100%;    /* Mozilla*/
      -o-background-size: 100% 100%;      /* Opera*/
      background-size: 100% 100%;
    }
}