@import "compass/reset";
@import "compass/css3";
@import "humans.scss";

@mixin sectionTransition {
    @include transition(all 1s cubic-bezier(0.19, 1, 0.22, 1));
}

html {
    text-rendering:         optimizeLegibility;
    -webkit-touch-callout:  none;
}

body {
    height: 500vh;
    font-size: 10pt;
    
    > section.content {
        position: fixed;
        width: 100%;
        height: 90vh;
        
        
        > section {
            height: 10em;
            width: 100%;
            position: relative;
            @include sectionTransition;
            
            &.video {
                overflow: hidden;
                
                video {
                    width: 100%;
                }
            }
            
            &.intro {
                .inside {
                    font-size: 1.5em;
                    letter-spacing: .5em;
                }
                h1, h2 {
                    display: none;
                }
            }
    
            &.human {
                background-repeat: no-repeat;
                background-size: 200% 200%;
                
                background-position: center center;
                display: block;
                
                /*
&.open {
                    background-size: cover;
                    background-position-y: center;
                }
*/
                
                .inside {
                    color: white;
                    width: 100%;
                    font-size: 1.5em;
                    letter-spacing: 2em;
                    letter-spacing: 1em;
                    
                    h1, h2, p {
                        display: inline;
                        
                        &:after {
                            content: ",";
                        }
                        
                        &:last-child {
                            &:after {
                                content: "";
                            }
                        }
                    }
                }
            }
            
            &.open {
                .inside {
//                     opacity: 1;
                    @include transform(scaleY(1));
                }
            }
            
            h1 {
            }
            
            .inside {
                text-align: justify;
                margin-bottom: 2em;
                line-height: 1.5em;
//                 opacity: 0;
                display: block;
                vertical-align: top;
                font-family: Munro, sans-serif;
                @include sectionTransition;
//                 @include transform(scaleY(0));
                transform-origin: top left;
                text-transform: lowercase;
            }
        }
    }
}
